<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Fenderton_S3>
            <version>1.0.2</version>
        </Fenderton_S3>
    </modules>
    <global>
        <cdn_version>
          <major><![CDATA[1]]></major>
          <minor><![CDATA[0]]></minor>
        </cdn_version>
        <models>
            <fendertons3>
                <class>Fenderton_S3_Model</class>
            </fendertons3>
            <catalog>
                <rewrite>
                    <product_image>Fenderton_S3_Model_S3_Product_Image</product_image>
                    <product_media_config>Fenderton_S3_Model_S3_Product_Media_Config</product_media_config>
                    <product_attribute_backend_media>Fenderton_S3_Model_S3_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog>
            <sitemap>
                <rewrite>
                    <sitemap>Fenderton_S3_Model_Sitemap_Sitemap</sitemap>
                </rewrite>
            </sitemap>
            <!-- <widget>
                <rewrite>
                    <template_filter>Fenderton_S3_Model_Cms_Template_Filter</template_filter>
                </rewrite>
            </widget> -->
        </models>
        <blocks>
            <fendertons3>
                <class>Fenderton_S3_Block</class>
            </fendertons3>
            <adminhtml>
                <rewrite>
                    <cms_wysiwyg_images_tree>Fenderton_S3_Block_Adminhtml_Cms_Wysiwyg_Images_Tree</cms_wysiwyg_images_tree>
                    <cms_wysiwyg_images_content_files>Fenderton_S3_Block_Adminhtml_Cms_Wysiwyg_Images_Content_Files</cms_wysiwyg_images_content_files>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <fendertons3>
                <class>Fenderton_S3_Helper</class>
            </fendertons3>
        </helpers>
        <events>
            <catalog_product_gallery_upload_image_after>
                <observers>
                    <catalog_product_media_gallery_s3>
                        <class>Fenderton_S3_Model_S3_Observer</class>
                        <method>mediaGalleryUploaded</method>
                    </catalog_product_media_gallery_s3>
                </observers>
            </catalog_product_gallery_upload_image_after>
            <catalog_product_save_after>
                <observers>
                    <catalog_product_media_s3_remove>
                        <class>Fenderton_S3_Model_S3_Observer</class>
                        <method>mediaGalleryRemove</method>
                    </catalog_product_media_s3_remove>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <catalog_product_media_s3_remove>
                        <class>Fenderton_S3_Model_S3_Observer</class>
                        <method>removeMediaGallery</method>
                    </catalog_product_media_s3_remove>
                </observers>
            </catalog_product_delete_after>
            <controller_front_init_routers>
                <observers>
                    <tagged>
                        <class>Fenderton_S3_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </tagged>
                </observers>
            </controller_front_init_routers>
            <asset_file_minified>
                <observers>
                    <upload_asset_file>
                        <class>fendertons3/asset_observer</class>
                        <method>uploadAssetFile</method>
                    </upload_asset_file>
                </observers>
            </asset_file_minified>
        </events>
    </global>

    <frontend>
        <routers>
            <fendertons3>
                <use>standard</use>
                <args>
                    <module>Fenderton_S3</module>
                    <frontName>sitemaps</frontName>
                </args>
            </fendertons3>
        </routers>
    </frontend>

    <adminhtml>
        <events>
            <!--<admin_system_config_changed_section_fendertons3>-->
                <!--<observers>-->
                    <!--<fendertons3>-->
                        <!--<class>Fenderton_S3_Model_Observer</class>-->
                        <!--<method>adminSystemConfigChangedFendertonS3</method>-->
                    <!--</fendertons3>-->
                <!--</observers>-->
            <!--</admin_system_config_changed_section_fendertons3>-->
        </events>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Fenderton_S3 before="Mage_Adminhtml">Fenderton_S3_Adminhtml</Fenderton_S3>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <general>
            <file>
                <sitemap_generate_valid_paths>
                    <available>
                        <any_path>/*/*.xml</any_path>
                    </available>
                </sitemap_generate_valid_paths>
            </file>
        </general>
        <fendertons3>
            <assets>
                <enabled>1</enabled>
            </assets>
        </fendertons3>
    </default>
</config>
